# VS/TwinCAT/TE2000
.vs/
*.suo
*.user
*.~u

_Boot/
**/*.app
**/*.cid
**/*.crc
**/*.tizip
**/*.tpzip
TE1063/_CompileInfo/
**/*.tmc

TcHmiTE1063/*.hmiproj.user
TcHmiTE1063/liveview_*.html
TcHmiTE1063/.hmishare/
